$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1280px,
);

$container-max-widths: (
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1220px
);

@import "~bootstrap/scss/bootstrap";
@import "~nprogress/nprogress.css";
@import "~izitoast/dist/css/iziToast.min.css";
@import "~react-confirm-alert/src/react-confirm-alert.css";

@import "./colors";
@import "./generic";
@import "./medias";
@import "./components/nprogress";
@import "./components/login";
@import "./components/form";
@import "./components/dashboard";
@import "./components/modal";

.react-confirm-alert-overlay {
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
}

.react-confirm-alert-button-group > button:last-child {
    background: #dc3545;
}