$grid-breakpoints: (
    xs: 0,
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1280px,
);

$container-max-widths: (
    sm: 600px,
    md: 800px,
    lg: 1000px,
    xl: 1220px
);

@import '~bootstrap/scss/bootstrap';
@import "~nprogress/nprogress.css";
@import '~izitoast/dist/css/iziToast.min.css';

@import './colors';
@import './generic';
@import './medias';
@import './components/nprogress';
@import './components/dashboard';

.avatar {
    width: 38px;
    height: 38px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 50%;
    display: inline-flex;
}

.cursor-pointer{
    cursor: pointer;
}